@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');


:root{
  /*fontes: usar a propriedade font*/
  --heading-xl: 4.5rem 'Hanken Grotesk', sans-serif;
  --heading-l: 2rem 'Hanken Grotesk', sans-serif;
  --heading-m: 1.5rem 'Hanken Grotesk', sans-serif;
  --bold: 1.125rem 'Hanken Grotesk', sans-serif;

  /* cores */
  --gradient-1: linear-gradient(to bottom,rgba(119, 85, 255, 1),rgba(47, 44, 233, 1));
  --gradient-2: linear-gradient(to bottom, rgba(77, 33, 201, 1),rgba(37, 33, 201, 0));
  --yellow: #FFB21E;
  --yellow-white:#ffb01e15;
  --blue: #1125D6;
  --blue-white: #1125d60e;;
  --green: #00BB8F;
  --green-white: #00bb8f13;
  --red: #FF5555;
  --red-white:#ff555513;
  --dark-navy: #303B59;
  --light-blue: #CAC9FF;
  --very-light-blue: #ECF2FF;
  --white: #FFFFFF;
  /* animaçoes*/
  --sombra: 0 30px 60px 0 rgba(61, 108, 236, 0.15);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 750px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  box-shadow: var(--sombra);
}

.result{
  width: 370px;
  height: 520px;
  background: var(--gradient-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 32px;
  z-index: 1;
}

.result p {
  font: var(--heading-m);
  color: var(--light-blue);
}

.result div {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--gradient-2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.number p {
  font: var(--heading-xl);
  color: var(--white);
}

.number span {
  font: var(--bold);
  color: var(--light-blue);
}

.result h2 {
  font: var(--heading-l);
  color: var(--white);
}

.result p:last-child {
  font: var(--bold);
  color: var(--light-blue);
  width: 260px;
  text-align: center;
}

.summary {
  width: 420px;
  height: 520px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 0px 32px 32px 0px;
  position: relative;
  left: -35px;
  z-index: 0;
}

.summary h1 {
  font: var(--heading-m);
  color: var(--dark-navy);
  width: 300px;
}

.reaction,
.memory,
.verbal,
.visual {
width: 270px;
height: 56px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
border-radius: 12px;
}

.reaction {
  background: var(--red-white);
}

.reaction h2 {
  font: var(--bold);
  color: var(--red);
}

.reaction span,
.memory span,
.verbal span,
.visual span{
  font: var(--bold);
  color: var(--dark-navy);
}

.reaction span span,
.memory span span,
.verbal span span,
.visual span span {
  font: var(--bold);
  color: rgba(48, 59, 89, 0.5);
}

.memory {
  background: var(--yellow-white);
}

.memory h2{
  font: var(--bold);
  color: var(--yellow);
}

.verbal {
  background: var(--green-white);
}

.verbal h2 {
  font: var(--bold);
  color: var(--green);
}

.visual {
  background: var(--blue-white);
}

.visual h2 {
  font: var(--bold);
  color: var(--blue);
}

.btn{
  width: 290px;
  height: 60px;
  background: var(--dark-navy);
  color: var(--white);
  font: var(--bold);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 128px;
}

.btn:hover{
  background: var(--gradient-1);
}


/* mobile design*/

@media (max-width: 500px){
  .container{
    width: 100vw;
    grid-template-columns: 1fr;
  }

  .result{
    width: 100vw;
    height: 360px;
    border-radius: 0px 0px 32px 32px;
  
  }
  .result p {
    font: var(--bold);
  }

  .result div {
    width: 140px;
    height: 140px;
  }

  .number p {
    font-size: 3.5rem;
    font-weight: 800;
  }

  .number span {
    font-size: 1rem;
    font-weight: 700;
  }

  .result h2{
    font: var(--heading-m);
  }

  .result p:last-child {
    font-size: 1rem;
    font-weight: 500;
  }

  .summary {
    width: 100vw;
    height: 100vh;;
    position: static;
    justify-content: start;
    gap: 0.8125rem;;
  }

  .summary h1 {
    padding-top: 24px;
    font: var(--bold);
  }
  .reaction,
  .memory,
  .verbal,
  .visual {
  width: 315px;
  }

  .reaction h2,
  .memory h2,
  .verbal h2,
  .visual h2 {
    font-size: 1rem;
  }

  .reaction span,
  .memory span,
  .verbal span,
  .visual span{
    font-size: 1rem;
  }

  .btn{
    width: 315px;
    height: 56px;
  }
  


  
}